body {
  font-family: League Spartan;
}
.display-1 {
  font-family: 'Roboto', sans-serif;
  font-size: 8.75rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 10.9375rem;
}
.display-2 {
  font-family: 'Roboto', sans-serif;
  font-size: 4.5rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5.625rem;
}
.display-4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-5 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5625rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 7rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 6.125rem;
    font-size: calc( 3.7124999999999995rem + (8.75 - 3.7124999999999995) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1 * (3.7124999999999995rem + (8.75 - 3.7124999999999995) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.6rem;
    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1 * (2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1rem;
    font-size: calc( 1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #75083a !important;
}
.bg-success {
  background-color: #15a020 !important;
}
.bg-info {
  background-color: #ffdb66 !important;
}
.bg-warning {
  background-color: #504a24 !important;
}
.bg-danger {
  background-color: #ff7f11 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #75083a !important;
  border-color: #75083a !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #75083a;
}
.btn-primary:hover .mobi-mbri:after,
.btn-primary:focus .mobi-mbri:after,
.btn-primary.focus .mobi-mbri:after,
.btn-primary.active .mobi-mbri:after {
  display: block;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #240212 !important;
  border-color: #240212 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #f6b7d2 !important;
  border-color: #f6b7d2 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #f6b7d2;
}
.btn-secondary:hover .mobi-mbri:after,
.btn-secondary:focus .mobi-mbri:after,
.btn-secondary.focus .mobi-mbri:after,
.btn-secondary.active .mobi-mbri:after {
  display: block;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ec6aa2 !important;
  border-color: #ec6aa2 !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffdb66 !important;
  border-color: #ffdb66 !important;
  color: #664e00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #ffdb66;
}
.btn-info:hover .mobi-mbri:after,
.btn-info:focus .mobi-mbri:after,
.btn-info.focus .mobi-mbri:after,
.btn-info.active .mobi-mbri:after {
  display: block;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #664e00 !important;
  background-color: #ffc70f !important;
  border-color: #ffc70f !important;
}
.btn-success,
.btn-success:active {
  background-color: #15a020 !important;
  border-color: #15a020 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #15a020;
}
.btn-success:hover .mobi-mbri:after,
.btn-success:focus .mobi-mbri:after,
.btn-success.focus .mobi-mbri:after,
.btn-success.active .mobi-mbri:after {
  display: block;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #0b5311 !important;
  border-color: #0b5311 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #504a24 !important;
  border-color: #504a24 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #504a24;
}
.btn-warning:hover .mobi-mbri:after,
.btn-warning:focus .mobi-mbri:after,
.btn-warning.focus .mobi-mbri:after,
.btn-warning.active .mobi-mbri:after {
  display: block;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #141309 !important;
  border-color: #141309 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff7f11 !important;
  border-color: #ff7f11 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #ff7f11;
}
.btn-danger:hover .mobi-mbri:after,
.btn-danger:focus .mobi-mbri:after,
.btn-danger.focus .mobi-mbri:after,
.btn-danger.active .mobi-mbri:after {
  display: block;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #b95600 !important;
  border-color: #b95600 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fef9ee !important;
  border-color: #fef9ee !important;
  color: #e09e0d !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-white:hover .mobi-mbri:after,
.btn-white:focus .mobi-mbri:after,
.btn-white.focus .mobi-mbri:after,
.btn-white.active .mobi-mbri:after {
  display: block;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #e09e0d !important;
  background-color: #f9dc9c !important;
  border-color: #f9dc9c !important;
}
.btn-black,
.btn-black:active {
  background-color: #1f1d1a !important;
  border-color: #1f1d1a !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #1f1d1a;
}
.btn-black:hover .mobi-mbri:after,
.btn-black:focus .mobi-mbri:after,
.btn-black.focus .mobi-mbri:after,
.btn-black.active .mobi-mbri:after {
  display: block;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline {
  background-color: #fef9ee !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  border-color: transparent;
  color: #75083a;
}
.btn-primary-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #75083a !important;
}
.btn-primary-outline:hover .mobi-mbri:after,
.btn-primary-outline:focus .mobi-mbri:after,
.btn-primary-outline.focus .mobi-mbri:after,
.btn-primary-outline.active .mobi-mbri:after {
  display: block;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #75083a !important;
  border-color: #75083a !important;
}
.btn-secondary-outline {
  background-color: #fef9ee !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  border-color: transparent;
  color: #f6b7d2;
}
.btn-secondary-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #f6b7d2 !important;
}
.btn-secondary-outline:hover .mobi-mbri:after,
.btn-secondary-outline:focus .mobi-mbri:after,
.btn-secondary-outline.focus .mobi-mbri:after,
.btn-secondary-outline.active .mobi-mbri:after {
  display: block;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f6b7d2 !important;
  border-color: #f6b7d2 !important;
}
.btn-info-outline {
  background-color: #fef9ee !important;
}
.btn-info-outline,
.btn-info-outline:active {
  border-color: transparent;
  color: #ffdb66;
}
.btn-info-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffdb66 !important;
}
.btn-info-outline:hover .mobi-mbri:after,
.btn-info-outline:focus .mobi-mbri:after,
.btn-info-outline.focus .mobi-mbri:after,
.btn-info-outline.active .mobi-mbri:after {
  display: block;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #664e00 !important;
  background-color: #ffdb66 !important;
  border-color: #ffdb66 !important;
}
.btn-success-outline {
  background-color: #fef9ee !important;
}
.btn-success-outline,
.btn-success-outline:active {
  border-color: transparent;
  color: #15a020;
}
.btn-success-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #15a020 !important;
}
.btn-success-outline:hover .mobi-mbri:after,
.btn-success-outline:focus .mobi-mbri:after,
.btn-success-outline.focus .mobi-mbri:after,
.btn-success-outline.active .mobi-mbri:after {
  display: block;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #15a020 !important;
  border-color: #15a020 !important;
}
.btn-warning-outline {
  background-color: #fef9ee !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  border-color: transparent;
  color: #504a24;
}
.btn-warning-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #504a24 !important;
}
.btn-warning-outline:hover .mobi-mbri:after,
.btn-warning-outline:focus .mobi-mbri:after,
.btn-warning-outline.focus .mobi-mbri:after,
.btn-warning-outline.active .mobi-mbri:after {
  display: block;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #504a24 !important;
  border-color: #504a24 !important;
}
.btn-danger-outline {
  background-color: #fef9ee !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  border-color: transparent;
  color: #ff7f11;
}
.btn-danger-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff7f11 !important;
}
.btn-danger-outline:hover .mobi-mbri:after,
.btn-danger-outline:focus .mobi-mbri:after,
.btn-danger-outline.focus .mobi-mbri:after,
.btn-danger-outline.active .mobi-mbri:after {
  display: block;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff7f11 !important;
  border-color: #ff7f11 !important;
}
.btn-black-outline {
  background-color: #fef9ee !important;
}
.btn-black-outline,
.btn-black-outline:active {
  border-color: transparent;
  color: #1f1d1a;
}
.btn-black-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #1f1d1a !important;
}
.btn-black-outline:hover .mobi-mbri:after,
.btn-black-outline:focus .mobi-mbri:after,
.btn-black-outline.focus .mobi-mbri:after,
.btn-black-outline.active .mobi-mbri:after {
  display: block;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #1f1d1a !important;
  border-color: #1f1d1a !important;
}
.btn-white-outline {
  background-color: #fef9ee !important;
}
.btn-white-outline,
.btn-white-outline:active {
  border-color: transparent;
  color: #fef9ee;
}
.btn-white-outline .mobi-mbri:after {
  content: '';
  display: none;
  width: 105%;
  height: 100%;
  position: absolute;
  top: 100%;
  background-color: #fef9ee;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #fef9ee !important;
}
.btn-white-outline:hover .mobi-mbri:after,
.btn-white-outline:focus .mobi-mbri:after,
.btn-white-outline.focus .mobi-mbri:after,
.btn-white-outline.active .mobi-mbri:after {
  display: block;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #e09e0d !important;
  background-color: #fef9ee !important;
  border-color: #fef9ee !important;
}
.text-primary {
  color: #75083a !important;
}
.text-secondary {
  color: #f6b7d2 !important;
}
.text-success {
  color: #15a020 !important;
}
.text-info {
  color: #ffdb66 !important;
}
.text-warning {
  color: #504a24 !important;
}
.text-danger {
  color: #ff7f11 !important;
}
.text-white {
  color: #FEF9EE !important;
}
.text-black {
  color: #1F1D1A !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #75083a;
}
.nav-tabs .nav-link:not(.active) {
  color: #1F1D1A;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffdb66;
}
.alert-warning {
  background-color: #504a24;
}
.alert-danger {
  background-color: #ff7f11;
}
.mbr-gallery-filter li.active .btn {
  background-color: #75083a;
  border-color: #75083a;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #75083a;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ec1075;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #4de859;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ccc38e;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffeddd;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.875rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #75083a !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.875rem;
}
blockquote {
  border-color: #75083a;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #75083a;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #75083a;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #75083a;
  border-bottom-color: #75083a;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #75083a !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #f6b7d2 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2375083a' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition-duration: .2s;
}
a:hover {
  background-image: none !important;
  text-decoration-line: underline;
}
.container {
  max-width: 1322px;
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 1199px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 991px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 639px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.container-fluid {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 1199px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 991px) {
  .container-fluid {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 639px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.row {
  margin-left: -40px;
  margin-right: -40px;
  justify-content: center;
}
.row > [class*="col"] {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 1199px) {
  .row {
    margin-left: -32px;
    margin-right: -32px;
  }
  .row > [class*="col"] {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 991px) {
  .row {
    margin-left: -24px;
    margin-right: -24px;
  }
  .row > [class*="col"] {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 639px) {
  .row {
    margin-left: -16px;
    margin-right: -16px;
  }
  .row > [class*="col"] {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.row {
  justify-content: center;
}
.mbr-section-btn .btn {
  min-width: 100px;
  min-height: 40px;
  padding: 9px 24px;
  line-height: 1.55;
  font-weight: 500;
  transition-duration: .2s;
  border-radius: 9999px;
  text-underline-offset: 4px;
  box-shadow: none !important;
  border: none !important;
  overflow: hidden;
}
.mbr-section-btn .btn .mobi-mbri {
  position: relative;
}
.mbr-section-btn .btn:hover {
  text-decoration-line: underline;
}
.mbr-section-btn .btn-white-outline {
  background-color: transparent !important;
}
.mbr-section-btn .btn-white-outline:hover {
  text-decoration-line: none !important;
}
.mbr-section-btn .btn-white-outline .mobi-mbri:after {
  display: none !important;
}
@media (max-width: 575px) {
  .mbr-section-btn {
    width: 100%;
  }
  .mbr-section-btn .btn {
    width: 100%;
    min-width: auto !important;
  }
}
section {
  overflow: hidden;
}
b {
  font-weight: 600 !important;
}
.cid-t9FzZai8ud {
  overflow: visible;
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 112px;
}
@media (max-width: 767px) {
  .cid-t9FzZai8ud {
    min-height: 77px;
  }
}
.cid-t9FzZai8ud nav.navbar {
  position: fixed;
}
.cid-t9FzZai8ud .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-t9FzZai8ud .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-t9FzZai8ud .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-t9FzZai8ud .dropdown-item:hover,
.cid-t9FzZai8ud .dropdown-item:focus {
  background: #75083a !important;
  color: inherit !important;
}
.cid-t9FzZai8ud .dropdown-item:hover span {
  color: white;
}
.cid-t9FzZai8ud .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-t9FzZai8ud .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-t9FzZai8ud .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-t9FzZai8ud .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-t9FzZai8ud .nav-link {
  position: relative;
}
.cid-t9FzZai8ud .container {
  display: flex;
  gap: 1.5rem;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-t9FzZai8ud .container {
    flex-wrap: nowrap;
  }
}
.cid-t9FzZai8ud .iconfont-wrapper {
  color: #1f1d1a !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-t9FzZai8ud .iconfont-wrapper:hover {
  text-decoration-line: none !important;
}
.cid-t9FzZai8ud .dropdown-menu,
.cid-t9FzZai8ud .navbar.opened {
  background: #ffffff !important;
}
.cid-t9FzZai8ud .nav-item:focus,
.cid-t9FzZai8ud .nav-link:focus {
  outline: none;
}
.cid-t9FzZai8ud .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-t9FzZai8ud .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-t9FzZai8ud .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-t9FzZai8ud .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-t9FzZai8ud .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-t9FzZai8ud .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-t9FzZai8ud .navbar {
  min-height: 112px;
  transition: all 0.3s;
  border-bottom: none !important;
  background: #ffffff;
  border-radius: 0 !important;
  padding: 16px 0 !important;
}
@media (max-width: 767px) {
  .cid-t9FzZai8ud .navbar {
    min-height: 77px;
    padding: 8px 0 !important;
  }
}
.cid-t9FzZai8ud .navbar.opened {
  transition: all 0.3s;
}
.cid-t9FzZai8ud .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-t9FzZai8ud .navbar .navbar-logo img {
  width: auto;
}
.cid-t9FzZai8ud .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-t9FzZai8ud .navbar.collapsed {
  justify-content: center;
}
.cid-t9FzZai8ud .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-t9FzZai8ud .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-t9FzZai8ud .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4.9rem);
  }
}
.cid-t9FzZai8ud .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-t9FzZai8ud .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-t9FzZai8ud .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-t9FzZai8ud .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-t9FzZai8ud .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-t9FzZai8ud .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-t9FzZai8ud .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-t9FzZai8ud .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-t9FzZai8ud .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-t9FzZai8ud .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-t9FzZai8ud .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-t9FzZai8ud .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-t9FzZai8ud .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-t9FzZai8ud .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-t9FzZai8ud .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-t9FzZai8ud .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-t9FzZai8ud .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-t9FzZai8ud .navbar.navbar-short {
  min-height: 112px;
}
@media (max-width: 767px) {
  .cid-t9FzZai8ud .navbar.navbar-short {
    min-height: 77px;
  }
}
.cid-t9FzZai8ud .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-t9FzZai8ud .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-t9FzZai8ud .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
  margin: 0;
}
.cid-t9FzZai8ud .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-t9FzZai8ud .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-t9FzZai8ud .dropdown-item.active,
.cid-t9FzZai8ud .dropdown-item:active {
  background-color: transparent;
}
.cid-t9FzZai8ud .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-t9FzZai8ud .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-t9FzZai8ud .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-t9FzZai8ud .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-t9FzZai8ud .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-t9FzZai8ud .navbar .navbar-collapse .dropdown .dropdown-menu {
  background: #ffffff !important;
}
.cid-t9FzZai8ud .navbar .navbar-collapse .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-t9FzZai8ud .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-t9FzZai8ud ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-t9FzZai8ud .navbar-buttons {
  text-align: center;
}
.cid-t9FzZai8ud button.navbar-toggler {
  outline: none;
  width: 26px;
  height: 18px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  margin-left: 0.5rem;
  margin-right: 12px;
}
.cid-t9FzZai8ud button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 25px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-t9FzZai8ud button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-t9FzZai8ud button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-t9FzZai8ud button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-t9FzZai8ud button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-t9FzZai8ud button.navbar-toggler .hamburger-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000000;
  transition: all 0.2s;
}
.cid-t9FzZai8ud .navbar-toggler-close {
  position: absolute !important;
  right: 12px;
  top: 10px;
  margin-right: 0 !important;
}
.cid-t9FzZai8ud .navbar-toggler-close .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-t9FzZai8ud .navbar-toggler-close .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-t9FzZai8ud .navbar-toggler-close .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-t9FzZai8ud .navbar-toggler-close .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-t9FzZai8ud .navbar-toggler-close .hamburger-bg {
  opacity: 0;
  background-color: #374151 !important;
  transition: .3s;
  border-radius: 0 !important;
}
.cid-t9FzZai8ud .navbar-toggler-close .hamburger-bg:hover {
  opacity: 0.1 !important;
}
.cid-t9FzZai8ud .navbar-toggler-close:hover .hamburger-bg {
  opacity: 0.1 !important;
}
.cid-t9FzZai8ud button.navbar-toggler-close {
  margin-right: 0;
}
.cid-t9FzZai8ud .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-t9FzZai8ud a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-t9FzZai8ud .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-t9FzZai8ud .navbar {
    height: 70px;
  }
  .cid-t9FzZai8ud .navbar.opened {
    height: auto;
  }
  .cid-t9FzZai8ud .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-t9FzZai8ud .navbar-brand-main {
  max-width: 30%;
}
.cid-t9FzZai8ud .navbar-nav-main {
  margin: 0;
  flex-grow: 1;
  justify-content: flex-end;
}
.cid-t9FzZai8ud .navbar-nav-main .nav-item {
  margin: 0 !important;
}
.cid-t9FzZai8ud .navbar-nav-main .nav-item .nav-link {
  padding: 15px !important;
  margin: 0 !important;
}
.cid-t9FzZai8ud .navbar-nav-main .nav-item .nav-link:hover {
  text-decoration: underline;
}
.cid-t9FzZai8ud .mbr-section-btn {
  margin: 0 -0.6rem;
  min-width: auto;
}
.cid-t9FzZai8ud .navbar-buttons-main {
  margin-left: 6.4rem;
  max-width: 30%;
}
@media (max-width: 991px) {
  .cid-t9FzZai8ud .navbar-buttons-main {
    max-width: 50%;
  }
}
@media (max-width: 575px) {
  .cid-t9FzZai8ud .navbar-buttons-main {
    display: none;
  }
}
.cid-t9FzZai8ud .navbar-toggler-open {
  position: relative;
  z-index: 10 !important;
}
.cid-t9FzZai8ud .navbar-toggler {
  position: relative;
  z-index: 12;
}
.cid-t9FzZai8ud .navbar-collapse {
  display: none !important;
  z-index: 11 !important;
}
@media (max-width: 991px) {
  .cid-t9FzZai8ud .container,
  .cid-t9FzZai8ud .container-fluid {
    justify-content: flex-end;
  }
  .cid-t9FzZai8ud .navbar-brand-main {
    max-width: 50%;
    margin-right: auto;
  }
  .cid-t9FzZai8ud .navbar-nav-main {
    display: none !important;
  }
  .cid-t9FzZai8ud .sidbar-nav {
    width: 100%;
    align-items: center;
  }
  .cid-t9FzZai8ud .sidbar-nav .nav-item {
    margin: 0  !important;
    padding: 1rem !important;
    width: 100%;
    border-bottom: 1px solid #bbbbbb;
  }
  .cid-t9FzZai8ud .sidbar-nav .nav-item .nav-link {
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 0;
  }
  .cid-t9FzZai8ud .sidbar-nav .nav-item .nav-link:hover {
    color: inherit !important;
  }
  .cid-t9FzZai8ud .icons-menu {
    padding-right: 0 !important;
    padding-top: 20px !important;
    padding-bottom: 0 !important;
  }
  .cid-t9FzZai8ud .navbar-collapse {
    display: flex !important;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: stretch !important;
    position: fixed;
    background-color: #ffffff;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    max-height: 100vh !important;
    overflow: auto;
    transition: .3s !important;
  }
  .cid-t9FzZai8ud .navbar-collapse .mbr-section-btn {
    margin-top: 18px;
    padding: 0 16px;
    width: 100%;
  }
  .cid-t9FzZai8ud .navbar-collapse .mbr-section-btn .btn {
    width: 100%;
  }
  .cid-t9FzZai8ud .navbar-collapse .dropdown-item {
    border-bottom: 1px solid #bbbbbb;
  }
  .cid-t9FzZai8ud .navbar-collapse .dropdown-item:hover,
  .cid-t9FzZai8ud .navbar-collapse .dropdown-item:focus {
    background: #ffffff !important;
    color: inherit !important;
  }
  .cid-t9FzZai8ud .navbar-collapse.show {
    padding: 28px 0;
    position: fixed;
    background-color: #ffffff;
    width: 500px;
    height: 100%;
    top: 0;
    right: 0;
    max-height: 100vh !important;
    overflow: auto;
  }
  .cid-t9FzZai8ud .navbar.collapsed .dropdown-menu .dropdown-item {
    text-align: left;
  }
}
@media (max-width: 575px) {
  .cid-t9FzZai8ud .navbar-collapse.show {
    width: 100% !important;
  }
}
.cid-t9FADIgQhP {
  padding-top: 10rem;
  padding-bottom: 10rem;
  min-height: 280px;
  background-image: url("../../../assets/images/1.svg");
  display: flex;
  align-items: center;
}
@media (min-width: 640px) {
  .cid-t9FADIgQhP {
    min-height: 300px;
  }
}
@media (min-width: 768px) {
  .cid-t9FADIgQhP {
    min-height: 380px;
  }
}
@media (min-width: 992px) {
  .cid-t9FADIgQhP {
    min-height: 420px;
  }
}
@media (min-width: 1200px) {
  .cid-t9FADIgQhP {
    min-height: 610px;
  }
}
.cid-t9FADIgQhP .mbr-fallback-image.disabled {
  display: none;
}
.cid-t9FADIgQhP .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t9FADIgQhP .row {
  justify-content: flex-start;
}
.cid-t9FADIgQhP .mbr-section-title {
  color: #000000;
  text-align: left;
}
.cid-t9FADIgQhP .mbr-section-subtitle {
  color: #FEF9EE;
}
.cid-t9FADIgQhP .mbr-text {
  color: #FEF9EE;
}
.cid-t9FADIgQhP .mbr-text,
.cid-t9FADIgQhP .mbr-section-btn {
  text-align: left;
  color: #000000;
}
.cid-t9FCV4jwfB {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #ffffff;
}
.cid-t9FCV4jwfB .row {
  justify-content: center;
}
.cid-t9FCV4jwfB .col-title {
  margin-bottom: 2.5rem;
}
.cid-t9FCV4jwfB .mbr-section-title {
  color: #F6B7D2;
}
.cid-t9FCV4jwfB .mbr-section-subtitle {
  color: #FEF9EE;
  margin-top: 1rem;
}
.cid-t9FCV4jwfB .cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 991px) {
  .cid-t9FCV4jwfB .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 639px) {
  .cid-t9FCV4jwfB .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cid-t9FCV4jwfB .card {
  display: flex;
  width: 100%;
  border-radius: 0.75rem;
  min-height: 465px;
}
@media (max-width: 639px) {
  .cid-t9FCV4jwfB .card {
    min-height: 345px;
  }
}
.cid-t9FCV4jwfB .card:hover .card-img-bg img {
  transform: scale3d(1.1, 1.1, 1.1);
}
.cid-t9FCV4jwfB .card:hover .card-title {
  text-decoration: underline;
}
.cid-t9FCV4jwfB .card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  position: relative;
}
.cid-t9FCV4jwfB .card-img-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.75rem;
  overflow: hidden;
}
.cid-t9FCV4jwfB .card-img-bg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
  transition: .3s;
}
.cid-t9FCV4jwfB .card-box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding: 96px 16px 24px;
  position: relative;
  z-index: 5;
}
.cid-t9FCV4jwfB .card-box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(to bottom, transparent, #000000);
  mix-blend-mode: multiply;
  transform: matrix(1, 0, 0, 1, 0, 1);
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
.cid-t9FCV4jwfB .card-title {
  width: 100%;
  margin-bottom: 0;
  color: #F6B7D2;
  position: relative;
  z-index: 11;
}
.cid-t9FCV4jwfB .card-text {
  width: 100%;
  color: #FCF0D5;
  margin-bottom: 0;
  position: relative;
  z-index: 11;
}
.cid-t9FCV4jwfB .card-title-1 {
  color: #ffffff;
}
.cid-t9FE1ezUl5 {
  padding-top: 9rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #ffffff;
}
.cid-t9FE1ezUl5 .row {
  justify-content: center;
}
.cid-t9FE1ezUl5 .col-title {
  margin-bottom: 2.5rem;
}
.cid-t9FE1ezUl5 .mbr-section-title {
  color: #15a020;
  text-align: center;
}
.cid-t9FE1ezUl5 .mbr-section-subtitle {
  color: #FEF9EE;
  margin-top: 1rem;
}
.cid-t9FE1ezUl5 .cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
@media (max-width: 991px) {
  .cid-t9FE1ezUl5 .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 639px) {
  .cid-t9FE1ezUl5 .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cid-t9FE1ezUl5 .card {
  display: flex;
  width: 100%;
  border-radius: 0.75rem;
  background-color: #bbbbbb;
  min-height: 432px;
}
@media (max-width: 991px) {
  .cid-t9FE1ezUl5 .card {
    min-height: 372px;
  }
}
@media (max-width: 639px) {
  .cid-t9FE1ezUl5 .card {
    min-height: 276px;
  }
}
.cid-t9FE1ezUl5 .card:hover .card-img-bg img {
  transform: scale3d(1.1, 1.1, 1.1);
}
.cid-t9FE1ezUl5 .card:hover .card-title {
  text-decoration: underline;
}
.cid-t9FE1ezUl5 .card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  position: relative;
}
.cid-t9FE1ezUl5 .card-img-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.75rem;
  border-top-right-radius: 100px;
  overflow: hidden;
}
.cid-t9FE1ezUl5 .card-img-bg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
  transition: .3s;
}
.cid-t9FE1ezUl5 .card-box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding: 96px 16px 24px;
  position: relative;
  z-index: 5;
}
.cid-t9FE1ezUl5 .card-box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(to bottom, transparent, #000000);
  mix-blend-mode: multiply;
  transform: matrix(1, 0, 0, 1, 0, 1);
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
.cid-t9FE1ezUl5 .card-title {
  width: 100%;
  margin-bottom: 0;
  color: #F6B7D2;
  position: relative;
  z-index: 11;
}
.cid-t9FE1ezUl5 .card-text {
  width: 100%;
  color: #15a020;
  margin-top: 0.25rem;
  margin-bottom: 0;
  position: relative;
  z-index: 11;
  text-align: center;
}
.cid-t9FE1ezUl5 .mbr-section-btn {
  margin-top: 30px;
}
.cid-t9FE1ezUl5 .card-title-1 {
  color: #ffffff;
  text-align: center;
}
.cid-t9FFLEyXoo {
  padding-top: 10rem;
  padding-bottom: 10rem;
  min-height: 280px;
  background-image: url("../../../assets/images/dolma-byk-1550x750.png");
  display: flex;
  align-items: center;
}
@media (min-width: 640px) {
  .cid-t9FFLEyXoo {
    min-height: 300px;
  }
}
@media (min-width: 768px) {
  .cid-t9FFLEyXoo {
    min-height: 380px;
  }
}
@media (min-width: 992px) {
  .cid-t9FFLEyXoo {
    min-height: 420px;
  }
}
@media (min-width: 1200px) {
  .cid-t9FFLEyXoo {
    min-height: 610px;
  }
}
.cid-t9FFLEyXoo .mbr-fallback-image.disabled {
  display: none;
}
.cid-t9FFLEyXoo .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t9FFLEyXoo .row {
  justify-content: flex-start;
}
.cid-t9FFLEyXoo .mbr-section-title {
  color: #15a020;
}
.cid-t9FFLEyXoo .mbr-section-subtitle {
  color: #FEF9EE;
}
.cid-t9FFLEyXoo .mbr-text {
  color: #FEF9EE;
}
.cid-t9FHG6u5zP {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #ffffff;
}
.cid-t9FHG6u5zP .row {
  justify-content: center;
}
.cid-t9FHG6u5zP .col-title {
  margin-bottom: 2.5rem;
}
.cid-t9FHG6u5zP .mbr-section-title {
  color: #15a020;
}
.cid-t9FHG6u5zP .mbr-section-subtitle {
  color: #FEF9EE;
  margin-top: 1rem;
}
.cid-t9FHG6u5zP .cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 991px) {
  .cid-t9FHG6u5zP .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 639px) {
  .cid-t9FHG6u5zP .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cid-t9FHG6u5zP .card {
  display: flex;
  width: 100%;
  border-radius: 0.75rem;
  min-height: 372px;
}
@media (max-width: 639px) {
  .cid-t9FHG6u5zP .card {
    min-height: 276px;
  }
}
.cid-t9FHG6u5zP .card:hover .card-img-bg img {
  transform: scale3d(1.1, 1.1, 1.1);
}
.cid-t9FHG6u5zP .card:hover .card-title {
  text-decoration: underline;
}
.cid-t9FHG6u5zP .card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  position: relative;
}
.cid-t9FHG6u5zP .card-img-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.75rem;
  overflow: hidden;
}
.cid-t9FHG6u5zP .card-img-bg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
  transition: .3s;
}
.cid-t9FHG6u5zP .card-box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding: 96px 16px 24px;
  position: relative;
  z-index: 5;
}
.cid-t9FHG6u5zP .card-box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(to bottom, transparent, #000000);
  mix-blend-mode: multiply;
  transform: matrix(1, 0, 0, 1, 0, 1);
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
.cid-t9FHG6u5zP .card-title {
  width: 100%;
  margin-bottom: 0;
  color: #F6B7D2;
  position: relative;
  z-index: 11;
}
.cid-t9FHG6u5zP .card-text {
  width: 100%;
  color: #15a020;
  margin-bottom: 0;
  position: relative;
  z-index: 11;
  text-align: center;
}
.cid-t9FHG6u5zP .card-title-1 {
  text-align: center;
  color: #ffffff;
}
.cid-t9FLc7ZZPy {
  padding-top: 5rem;
  padding-bottom: 1rem;
  overflow: hidden;
  background-color: #ffffff;
}
.cid-t9FLc7ZZPy .row {
  justify-content: center;
}
.cid-t9FLc7ZZPy .col-title {
  margin-bottom: 2.5rem;
}
.cid-t9FLc7ZZPy .mbr-section-title {
  color: #15a020;
}
.cid-t9FLc7ZZPy .mbr-section-subtitle {
  color: #FCF0D5;
  margin-top: 0.5rem;
}
.cid-t9FLc7ZZPy .cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 991px) {
  .cid-t9FLc7ZZPy .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 639px) {
  .cid-t9FLc7ZZPy .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cid-t9FLc7ZZPy .card {
  display: flex;
  width: 100%;
  border-radius: 0.75rem;
  overflow: hidden;
  background-color: #ffffff;
}
.cid-t9FLc7ZZPy .card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  position: relative;
}
.cid-t9FLc7ZZPy .card-img {
  width: 100%;
  height: 400px;
}
@media (max-width: 991px) {
  .cid-t9FLc7ZZPy .card-img {
    height: 460px;
  }
}
@media (max-width: 639px) {
  .cid-t9FLc7ZZPy .card-img {
    height: auto;
  }
}
.cid-t9FLc7ZZPy .card-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
}
.cid-t9FLc7ZZPy .card-box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding: 32px;
}
.cid-t9FLc7ZZPy .card-label {
  margin-bottom: 0.5rem;
  color: #1F1D1A;
  opacity: 0.8;
}
.cid-t9FLc7ZZPy .card-title {
  width: 100%;
  margin-bottom: 0;
  color: #75083A;
}
.cid-t9FLc7ZZPy .card-text {
  width: 100%;
  color: #1F1D1A;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.cid-t9FLc7ZZPy .mbr-section-btn {
  margin-top: 14px;
}
.cid-tdJys3xtUy {
  padding-top: 9rem;
  padding-bottom: 0rem;
  background-color: #f9f9f9;
}
.cid-tdJys3xtUy .image-wrapper {
  display: flex;
  align-items: center;
}
.cid-tdJys3xtUy .card-wrapper {
  border-radius: 2rem;
  transition: all 0.3s;
  margin-bottom: 2rem;
  display: flex;
  background: #eeeeee;
}
.cid-tdJys3xtUy .card-wrapper:hover {
  box-shadow: 0 50px 50px -25px rgba(0, 0, 0, 0.3);
  transform: rotate(-2deg) scale(1.03);
}
@media (max-width: 991px) {
  .cid-tdJys3xtUy .card-wrapper {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tdJys3xtUy .card-wrapper {
    padding: 2rem 4rem;
  }
}
.cid-tdJys3xtUy .mbr-iconfont {
  font-size: 4rem;
  padding-right: 2rem;
  color: #75083a;
}
@media (max-width: 767px) {
  .cid-tdJys3xtUy .mbr-iconfont {
    font-size: 2.8rem;
  }
}
.cid-tdJys3xtUy .mbr-section-subtitle {
  color: #696969;
}
.cid-tdJys3xtUy .mbr-fallback-image.disabled {
  display: none;
}
.cid-tdJys3xtUy .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tdJys3xtUy .mbr-section-title {
  color: #15a020;
}
.cid-tdEjEm01ja {
  padding-top: 45px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-tdEjEm01ja .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-tdEjEm01ja textarea {
  min-height: 150px;
}
.cid-tdEjEm01ja .mbr-section-btn {
  margin: 0.4rem;
  padding-top: 1.5rem;
}
.cid-tdEjEm01ja .line {
  width: 35px;
  height: 3px;
  display: inline-block;
  background: #ed4266;
  transition: background 0.3s;
  margin-bottom: 2rem;
}
.cid-tdEjEm01ja .form-control,
.cid-tdEjEm01ja .field-input {
  padding: 0.5rem 1.2rem;
  background-color: #ffffff;
  border: 3px solid #ebeced;
  color: #767676;
  transition: 0.4s;
  font-size: 0.9rem;
  box-shadow: none;
  outline: none;
}
.cid-tdEjEm01ja .form-control:hover,
.cid-tdEjEm01ja .field-input:hover,
.cid-tdEjEm01ja .form-control:focus,
.cid-tdEjEm01ja .field-input:focus {
  background-color: #ffffff;
  border: 3px solid #ebeced;
  box-shadow: none;
  outline: none;
}
.cid-tdEjEm01ja input::-webkit-input-placeholder,
.cid-tdEjEm01ja textarea::-webkit-input-placeholder {
  color: #c1c1c1;
}
.cid-tdEjEm01ja input:-moz-placeholder,
.cid-tdEjEm01ja textarea:-moz-placeholder {
  color: #c1c1c1;
}
.cid-tdEjEm01ja .jq-selectbox li,
.cid-tdEjEm01ja .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-tdEjEm01ja .jq-selectbox li:hover,
.cid-tdEjEm01ja .jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.cid-tdEjEm01ja .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #ffffff;
}
.cid-tdEjEm01ja .jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: #ffffff;
}
.cid-tdEjEm01ja H2 {
  color: #15a020;
}
.cid-tdEjEm01ja .google-map {
  height: 100%;
  min-height: 30rem;
  position: relative;
}
.cid-tdEjEm01ja .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-tdEjEm01ja .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-tdEjEm01ja .google-map[data-state] {
  background: #e9e5dc;
}
.cid-tdEjEm01ja .google-map[data-state='loading'] [data-state-details] {
  display: none;
}
@media (max-width: 992px) {
  .cid-tdEjEm01ja .md-pb {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-tdEjEm01ja .col-auto {
    margin: auto;
  }
}
.cid-t9FKcGGNsb {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #1f1d1a;
  overflow: hidden;
}
.cid-t9FKcGGNsb .mbr-text {
  color: #FEF9EE;
}
.cid-tdJxMVwzcv.popup-builder {
  background-color: #ffffff;
}
.cid-tdJxMVwzcv.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-tdJxMVwzcv.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-tdJxMVwzcv .modal-content,
.cid-tdJxMVwzcv .modal-dialog {
  height: auto;
}
.cid-tdJxMVwzcv .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-tdJxMVwzcv .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-tdJxMVwzcv .form-wrapper .mbr-form .form-group,
  .cid-tdJxMVwzcv .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-tdJxMVwzcv .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-tdJxMVwzcv .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-tdJxMVwzcv .mbr-text {
  text-align: center;
}
.cid-tdJxMVwzcv .pt-0 {
  padding-top: 0 !important;
}
.cid-tdJxMVwzcv .pb-0 {
  padding-bottom: 0 !important;
}
.cid-tdJxMVwzcv .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-tdJxMVwzcv .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-tdJxMVwzcv .modal-open {
  overflow: hidden;
}
.cid-tdJxMVwzcv .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-tdJxMVwzcv .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-tdJxMVwzcv .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-tdJxMVwzcv .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-tdJxMVwzcv .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-tdJxMVwzcv .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-tdJxMVwzcv .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-tdJxMVwzcv .modal-content {
  background: #ffffff;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-tdJxMVwzcv .margin-center-pos {
  margin-top: auto;
  margin-bottom: auto;
}
.cid-tdJxMVwzcv .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-tdJxMVwzcv .modal-backdrop.fade {
  opacity: 0;
}
.cid-tdJxMVwzcv .modal-backdrop.show {
  opacity: .5;
}
.cid-tdJxMVwzcv .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: none;
}
@media (min-width: 992px) {
  .cid-tdJxMVwzcv .modal-header {
    padding: 2rem 2rem 1rem;
  }
}
@media (max-width: 991px) {
  .cid-tdJxMVwzcv .modal-header {
    padding: 1rem;
  }
}
.cid-tdJxMVwzcv .modal-header .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-tdJxMVwzcv .modal-header .close svg {
  fill: #353535;
}
.cid-tdJxMVwzcv .modal-header .close:hover {
  opacity: 1;
}
.cid-tdJxMVwzcv .modal-header .close:focus {
  outline: none;
}
.cid-tdJxMVwzcv .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
}
.cid-tdJxMVwzcv .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
@media (min-width: 992px) {
  .cid-tdJxMVwzcv .modal-body {
    padding: 1rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tdJxMVwzcv .modal-body {
    padding: 1rem;
  }
}
.cid-tdJxMVwzcv .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: none;
  text-align: center;
}
@media (min-width: 992px) {
  .cid-tdJxMVwzcv .modal-footer {
    padding: 0rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tdJxMVwzcv .modal-footer {
    padding: 1rem;
  }
}
.cid-tdJxMVwzcv .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-tdJxMVwzcv .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-tdJxMVwzcv .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-tdJxMVwzcv .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-tdJxMVwzcv .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .cid-tdJxMVwzcv .modal-lg,
  .cid-tdJxMVwzcv .modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .cid-tdJxMVwzcv .modal-xl {
    max-width: 1140px;
  }
}
.cid-tdJxMVwzcv .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-tdJxMVwzcv .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-tdJxMVwzcv .form-group {
  margin-bottom: 1rem;
}
.cid-tdJxMVwzcv .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-tdJxMVwzcv .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-tdJxMVwzcv .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-tdJxMVwzcv .mbr-section-btn {
  margin: 0;
}
.cid-tdJxMVwzcv .mbr-section-btn .btn {
  margin: 0;
}
